/*
@font-face {
    font-family: 'ff-din-web-condensed';
    src: url('font/ff_din_condensed_regular-webfont.eot');
    src: url('font/ff_din_condensed_regular-webfont?#iefix') format('embedded-opentype'),
         url('font/ff_din_condensed_regular-webfont.woff') format('woff'),
         url('font/ff_din_condensed_regular-webfont.ttf') format('truetype'),
         url('font/ff_din_condensed_regular-webfont.svg#dincregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
.voting_closed {
	margin: 30px 3px;
	padding: 20px;
	background: rgb(205, 255, 205);
	border: 1px solid rgb(52, 172, 52);
}
.clearfix {
	clear: both;
}
#block-nice_menus-1 #nice-menu-1 li a:hover {
	color: #fff !important;
	background: #cc2029 url(http://sport360.com/sites/all/themes/openpublish_theme/images/new-menu/bg-nav-active-sep.gif) no-repeat 50% 0 !important;
}
.header_swf {float: left;width: 100%;height: 393px;overflow:hidden;background:url(img/mega_header_v3.jpg) no-repeat}
.vote_bu_header {float:right; width:207px;height : 393px;display: block;background:url(img/vote2.png) no-repeat; position: relative;
left: -1px;}
.lang_ar {
	height: 21px;
	margin-top: 0px;
	line-height: 23px;
	text-align: center;
	border-radius: 4px;
	padding: 5px 10px;
	background: #CC2029;
	display: block;
	color: white;
	font-size: 17px;
	font-weight: bold;
	font-family: 'Arabic Transparent', 'Simplified Arabic', arial, verdana, sans-serif;
}
.mred {
	color: #CC2029;
}
.vote_con_c {
	padding:30px 0;
	font-size: 15px;
	line-height: 21px;
	font-family: Arial, 'Times New Roman', serif;
}

.vote_con_c.questions {
	padding:15px 0 50px 0;
}
.vote_con_c.questions h2 {
	background: transparent;
	font-style: normal;
	text-transform: uppercase;
	border: 0;
	font-family: ff-din-web-condensed,sans-serif;
}
.vote_con_c.questions h2:after {
	content: "";
}
.vote_con_c.questions p {
	padding: 0 15px;
}
.questions li {
	margin:0 0 15px 0;
	list-style: none;
	font-size: 25px;
	text-transform: uppercase;
}
.questions li a:hover{
	text-decoration: underline;
}
.vote_banner {	
	background: url(img/main.jpg) no-repeat;
	height: 320px;
	line-height: 280px;
	border-bottom: 5px solid #000;
	margin: 50px 0 0 0;
	text-align: right;
}
.vote_button {
	font-family: ff-din-web-condensed, sans-serif;
	font-size:20px;
	color : #fff !important;
	display: inline-block;	
	padding:15px 20px;
	line-height: 1em;
	background: #CC2029;
	border-radius : 5px;
	margin:0 30px 0 0
}
.vote_button:hover {
	background : #000;
}
.vfeatures .section-title {
	width : auto !important;
	padding:5px 13px;
}
.vfeatures .section-underline,
.vfeatures {
		width : auto !important;
}
a.lang_ar_link {
	color: #FFF;
}
.lang_ar:hover {
	background: #000;
}

#chooseLang, .ui-widget-overlay {
	display: none;
}
.ui-widget-content {
	border: 6px solid #dddddd;
}
.chooseLang {
	background: #000;
	display: none;
	padding-top: 20px;  
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;    
	position: relative;   
	overflow: visible !important; 
	padding-bottom: 0;
}

.chooseLang h1 {
	background: #CC2029;
	color: #fff;
	border: none;
	text-align: center;
	margin: 0;
	padding: 10px;
	display: block;
	font-size: 16px;
	font-weight: bold;
}
.chooseLang-inner {
	margin: 40px 10px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	overflow: hidden;
	display: inline-block;
	width: 55%;
}
.chooseLang .ar {
	float: right;
	width: 50%;
	text-align: center;
	border-left: 1px dashed #C6C6C6;
}
.chooseLang .en {
	float: left;
	width: 48%;
	text-align: center;

}
.chooseLang .en h1 {
	font-size: 18px;
}
.chooseLang .en a img {
	margin-top: 15px;
}
.chooseLang .ar a , .chooseLang .en a {
	height: 120px;
	background: #fff;
	display: block;
	margin: auto;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.ui-widget-overlay
{
	opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
	filter: Alpha(Opacity=50) !important;
	z-index: 1000;
	background-color: rgb(0, 0, 0) !important; /* This will make it darker */
}
.ui-dialog .ui-dialog-titlebar-close{
	position: absolute;
	right: -12px;
	top: 1px;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
	padding: 1px;
	background: #fff;
	z-index: 999999;
}
#chooseLang h4 {
	color: #DDDDDD;
	font-size: 16px;
}
.spons {
	display : inline-block;
	width : 120px;
	height : 85px;
	margin: 0 10px 10px 0;
	padding:0 15px 0 0;
	border-right:3px solid #eee;
	background-size: contain;
	background-repeat:no-repeat;
	background-position: center;
}
.sponsors {	padding: 0 0 30px 0 !important; }
.sponsors  div {	
	color: #333;
	background: #fafafa;
	padding: 0 3px !important;
	font-family: ff-din-web-condensed,sans-serif;
	font-weight: 600;
	max-width : 225px; 
	font-size: 13px;
	display: block;
	text-transform: uppercase;
	margin: 40px 0 10px 0;
}
.contact_icon {
	background : url('img/contact-icon.png') no-repeat;
	display : block;
	height : 16px;
	padding:0 0 0 25px;
	vertical-align: -webkit-baseline-middle;
	line-height: 16px;
	font-size: 16px;
}
.contact_icon_2 {
	background-position: 0 -16px;
}
.spons_0 { background-image:url('img/sponsors-v2-00.jpg') }
.spons_1 { background-image:url('img/sponsors-v2-01.jpg') }
.spons_2 { background-image:url('img/sponsors-v2-02.jpg') }
.spons_3 { background-image:url('img/sponsors-v2-03.jpg') }
.spons_4 { background-image:url('img/sponsors-v2-04.jpg') }
.spons_5 { background-image:url('img/sponsors-v2-05.jpg') }
.spons_6 { background-image:url('img/sponsors-v2-06.jpg') }
.spons_7 { background-image:url('img/sponsors-v2-07.jpg') }
.spons_8 { background-image:url('img/sponsors-v2-08.jpg') }
.spons_9 { background-image:url('img/sponsors-v2-09.jpg') }
.spons_10 { background-image:url('img/sponsors-v2-10.jpg') }
.spons_11 {background-image: url('img/sponsors-v2-11.jpg');}
.spons_12 {background-image: url('img/sponsors-v2-12.png');}
.spons_13 {background-image: url('img/sponsors-v2-13.jpg');}
.spons_14 {background-image: url('img/sponsors-v2-14.jpg');}
.spons_15 {background-image: url('img/sponsors-v2-15.jpg');}
.spons_16 {background-image: url('img/sponsors-v2-16.jpg');}
.spons_17 {background-image: url('img/sponsors-v2-17.jpg');}
.spons_18 {background-image: url('img/sponsors-v2-18.jpg');}
.spons_19 {background-image: url('img/sponsors-v2-19.png');}
.spons_20 {background-image: url('img/evian.jpg');}
.spons_21 {background-image: url('img/sponsors-v2-20.png');}
.spons_22 {background-image: url('img/sponsors-v2-22.png');}

.award_listing  li{
	margin: 0 0 5px 35px !important;
	list-style: disc !important;
}

.float-L {
	float : left;
	margin:0 15px 0 0;
}
.left-list{
	float : left;
	padding: 0 !important;
	margin:0 !important
}
.right-list {
	float: right;
}
.options_wrap {
	padding: 15px 0;
}
.options_wrap input{
	margin:0 5px 20px 0;
}
input[type="text"] {
	width: 450px;
	padding: 10px;
	font-size: 16px;
}
.ag_select {
	border: 1px solid #DADADA;
	color: #808285;
	font-size: 1.25em;
	height: 40px;
	padding: 5px 3px 5px 5px;
	width: 471px;	
	font-size: 16px;
}
.vote_menu {
	position : relative;
	top: -1px;
	width:971px !important;
}
.vote_menu li a{
	min-width:202px;
	background: #000 url(http://www.sport360.com/sites/all/themes/openpublish_theme/images/new-menu/bg-nav-sep.gif) right no-repeat !important; 
	font-size: 22px !important;
}
.vote_con_c li {
	margin-bottom: 15px;
	list-style: none
}
.menu-799 a {
	min-width:204px !important;
}
.hide {
	display : none !important;
}
.v_option {
/*	width: 218px;
	height: 140px;
	background: #fafafa;
	float: left;
	margin: 0 0 15px 17px;
	padding: 6px 0 6px 6px;
	border: 3px solid #ddd;
	cursor: pointer;
	position: relative;*/
	width: 218px;
	height: 110px;
	background: #fafafa;
	float: left;
	margin: 0 0 15px 17px;
	padding: 6px 0 6px 6px;
	border: 3px solid #ddd;
	cursor: pointer;
	position: relative;
}
.v_option:first-child {
	margin:0 0 15px 0;
}
.v_option img {
	float : left;
	width : 75px;
	height : 75px;
}
.v_option p {
	float: right;
	width: 130px;
	color: #333;
	font-weight: bold;
	font-size: 15px;
	line-height: 21px;
	text-align: left;
	display: block;
	padding: 0 4px;
}
.v_option a {
	display: block;
	position: absolute;
	bottom:0;
	right : 0;
	line-height:15px;
	height: 15px;
	background: #CE1D1D;
	padding: 7px 15px;
	font-size: 11px;
	font-weight: bold;
	color : #fafafa
}
.xelected {
	background: #27C787 !important;
	content : "SELECTED" !important; 
}
.op_selected {
	border: 3px solid #27C787 !important;
	background : #fff !important;	
}
.error_overlay {
	background: rgba(248, 171, 171, 0.5);
}
.error_text {
	font-size: 10px;
	color: maroon;
	padding: 5px 10px;
	background: rgb(250, 223, 223);
	border: 1px solid maroon;
	width: 206px;
	display: none;
}
.error_vote {
	padding: 15px;
	background: rgb(255, 218, 218);
	color: rgb(138, 0, 0);
	border: 1px solid rgb(138, 0, 0);
	display : none
}
.success_vote {
	padding: 15px;
	background: rgb(218, 255, 239);
	color: rgb(37, 99, 59);
	border: 1px solid rgb(1, 70, 28);
	display : none
}
.form-item label {
	font-family: ff-din-web-condensed,sans-serif;
	font-weight: 600;
	font-size: 19px;
	text-transform: uppercase;
}

#question-2 .v_option {
	height: 170px !important;
}

.v_option span {
	font-size: 12px;
	font-weight: normal;
	clear: both;
	line-height: 10px;	
}
.fig_speech {
	font-family: ff-din-web-condensed,sans-serif;
	font-weight: 400;
	font-size: 20px;
	background: #CE1D1D;
	padding: 10px 20px;
	width: 157px;
	color: #fff;
	text-transform : uppercase;
}

.v-127 img, .v-126 img, .v-125 img, .v-98 img, .v-117 img, .v-124 img, .v-111 img, .v-112 img, .v-108 img, .v-109 img, .v-110 img, .v-110 img, .v-77 img, .v-78 img, .v-81 img, .v-82 img, .v-85 img, .v-86 img, .v-114 img, .v-95 img, .v-96 img, .v-105 img, .v-128 img {
	width: 98% !important;
}

.v-127 p, .v-126 p, .v-125 p, .v-98 p, .v-117 p, .v-124 p, .v-111 p, .v-112 p, .v-108 p, .v-109 p, .v-110 p, .v-110 p, .v-77 p, .v-78 p, .v-81 p, .v-82 p, .v-85 p, .v-86 p, .v-114 p, .v-95 p, .v-96 p, .v-105 p, .v-128 p {
	width: 95% !important;
}
.award_listing {
	margin:0 0 30px 0;
}
